menuconfig ADC
	bool "ADC Subsystem"
	help
		Activate ADC Subsystem
	config ADC_THREAD_SAVE
		bool "ADC is Therad Save"
		depends on ADC
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		help
			Make ADC Thread save
	config ADC_MULTI
		bool "Multiply ADCs"
		depends on ADC
		help
			Multiply ADCs
	config ADCS747X
		bool "TI ADCS747x Driver"
		depends on SPI
		depends on ADC
		help 
			TI ACSS747x Driver connected with spi
		config ADCS747X_PRIO
			int "ADCS747x Thread Prio"
			depends on ADCS747X
			default 4
			help
				ADCS747X Support Callback by FreeRTOS Thread
				On HW this is ISR Callback
	config MCP320X
		bool "TI MCP320X Driver"
		depends on SPI
		depends on ADC
		help 
			TI ACSS747x Driver connected with spi
		config MCP320X_PRIO
			int "MCP320X Thread Prio"
			depends on MCP320X
			default 4
			help
				MCP320X Support Callback by FreeRTOS Thread
				On HW this is ISR Callback
		config MCP320X_DEBUG
			bool "MCP320X Debug printf"
			depends on MCP320X
			default n
	config ADC_TEST
		bool "ADC Test Driver"
		default n
		depends on ADC
		help
			ADC Test Driver
		config ADC_TEST_PRIO
			int "ADC Test Thread Prio"
			depends on ADC_TEST
			default 4
			help
				ADC Test Support Callback by FreeRTOS Thread
				On HW this is ISR Callback
