menuconfig ADC
	bool "ADC Subsystem"
	depends on MACH_HAS_ADC
	help
		Activate ADC Subsystem
	config ADC_THREAD_SAVE
		bool "ADC is Therad Save"
		depends on ADC
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		help
			Make ADC Thread save
	config ADC_MULTI
		bool "Multiply ADCs"
		depends on ADC
		help
			Multiply ADCs
