menu "Driver"
menu "Generic Driver Settings"
	config INSTANCE_NAME
		bool "Instance Name Support"
		default n
		help
			Support Print Instance Name. Each Driver Add a Uniqe Instance Name. 
endmenu
source driver/gpio/Kconfig
source driver/uart/Kconfig
source driver/newlib/Kconfig
source driver/buffer/Kconfig
source driver/spi/Kconfig
source driver/sensor/Kconfig
source driver/adc/Kconfig
source driver/power/Kconfig
source driver/timer/Kconfig
source driver/pwm/Kconfig
source driver/capture/Kconfig
source driver/example/Kconfig
source driver/nlibc/Kconfig
source driver/sd/Kconfig
source driver/mailbox/Kconfig
source driver/remoteproc/Kconfig
source driver/net/Kconfig
source driver/counter/Kconfig
source driver/rtc/Kconfig
config CACHE
	bool
	help
		Cache Subsystem Support
endmenu
