menu "Driver"
source driver/gpio/Kconfig
source driver/uart/Kconfig
source driver/newlib/Kconfig
source driver/buffer/Kconfig
source driver/spi/Kconfig
source driver/sensor/Kconfig
source driver/adc/Kconfig
source driver/power/Kconfig
source driver/timer/Kconfig
source driver/pwm/Kconfig
source driver/capture/Kconfig
source driver/example/Kconfig
config CACHE
	bool
	help
		Cache Subsystem Support
endmenu
