menuconfig NEWLIB
	bool "Use Newlib"
	depends on MACH_HAS_NEWLIB
	help
		Activate Newlib Interface. (Use of printf...)
config NEWLIB_UART
	bool "Use stdio, stdin and stdout"
	depends on NEWLIB
	depends on UART
	select NEWLIB_MALLOC
	default n
	help
		Activate Use of printf and scanf..
	config NEWLIB_UART_NEWLINE
	       bool "Replace \n to \r\n. Needed for minicom, putty,..."
	       depends on NEWLIB
	       depends on NEWLIB_UART
	       default y
	       help
		       The most UART Programms use \r\n as new line. 
		       The Api Replace the \n aganst \r\n
	config NEWLIB_USE_PUTS
		bool "Use puts in _write"
		depends on NEWLIB_UART
		default n
		help
			Use uart_puts instat of uart_putc
config NEWLIB_MALLOC
	bool "Use Malloc"
	depends on NEWLIB
	default n
	help
		Use Newlib malloc. Is Needed by printf etc...
	config NEWLIB_MALLOC_THREAD_SAFE
		bool "Make malloc Thread Safe"
		depends on NEWLIB
		depends on NEWLIB_MALLOC
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		help
			Add Locking to Malloc
	choice
		prompt "sbrk Strategy"
		depends on NEWLIB
		depends on NEWLIB_MALLOC
		config MALLOC_1
			bool "Use FreeRTOS malloc function"
			depends on !HEAP_3
			help
				Use FreeROTS Heap Space. Use This only small space is alloc by malloc!
		config MALLOC_2
			bool "Array Base Alloc"
			help
				A global Array used by sbrk to alloc memory space
		config MALLOC_3
			bool "Linker File Base Alloc"
			depends on MACH_DEFINE_HEAP
			help
				The empty space between Data Section and Stack is used as Heap.
				The Linker File must provide to the Variable _Heap_end. 
	endchoice
	config NEWLIB_TOTAL_HEAP_SIZE
		int "Total Heap Size"
		depends on NEWLIB
		depends on MALLOC_2
		default 16384
		help
			Total Heap Size
