menuconfig GPIO 
	bool "GPIO subsystem"
	depends on MACH_HAS_GPIO
	help
		Activate GPIO Subsystem
	config GPIO_MULTI
		bool "Multiple GPIO Drivers"
		depends on GPIO
		help
			Multiple GPIOs Driver Mode
