menuconfig GCC
	bool "GCC Tools"
if GCC
	config GCC_BACKTRACE
		bool "Unwind Backtrace"
		depends on DEBUG
		depends on ARCH_SUPPORT_UNWIND_TABLES
		depends on ARCH_SUPPORT_CUSTOM_TASK_RETURN_ADDRESS
		select GENERATE_UNWIND_TABLES
endif
