menuconfig COUNTER
	bool "Counter Subsystem"
	help
		Activate Hartware Counter Subsystem
	config COUNTER_THREAD_SAVE
		bool "Counter is Thread Save"
		depends on COUNTER
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		help
			Make Counter Thread save
	config COUNTER_MULTI
		bool "Multiply Counter driver"
		depends on COUNTER
		help
			Multiply Counter driver
	config COUNTER_SOFTWARE
		bool "GPIO Based Counter"
		depends on COUNTER
		depends on GPIO
		config COUNTER_SOFTWARE_DEBUG
			bool "Debug GPIO Based Counter"
			depends on COUNTER_SOFTWARE
