menuconfig SD
	bool "SD / SDIO Subsystem"
	depends on MACH_HAS_SD || MACH_HAS_SDIO 
	help
		Activate SD / SDIO Subsystem
	config SD_MULTI
		bool "Multiply SD driver"
		depends on SD
		help
			Multiply SD / SDIO driver
	config SD_THREAD_SAFE
		bool "SD is thread safe"
		depends on SD
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		default n
		help
			Make SD thread safe
