menuconfig SENSOR
	bool "Sensor Driver"
	default n
	help
		Sensor Driver
menuconfig ACCEL
	bool "Accelerator Subssystem"
	depends on SENSOR
	default n
	help
		Activate Accelerator Subssystem
	config ACCEL_THREAD_SAVE
		bool "Accelerator is Thread Save"
		depends on ACCEL
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		default n
		help
			Make Accelerator Thread save
	config ACCEL_MULTI
		bool "Multiply Accelerators"
		depends on ACCEL
		default n
		help
			Multiply Accelerators
menuconfig GYRO
	bool "Gyro Subssystem"
	depends on SENSOR
	default n
	help
		Activate Accelerator Subssystem
	config GYRO_THREAD_SAVE
		bool "Gyro is Thread Save"
		depends on GYRO
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		default n
		help
			Make Accelerator Thread save
	config GYRO_MULTI
		bool "Multiply Gyros"
		depends on GYRO
		default n
		help
			Multiply Gyros

config MPU9250
	bool "MCU-9250"
	depends on SENSOR
	depends on MACH_HAS_SPI
	select USE_MUTEXES
	select USE_RECURSIVE_MUTEXES
	select ACCEL
	select GYRO
	select SPI
	default n
	help
		MPU-9250 Driver
	config MPU9250_DEBUG
		bool "MPU Debug"
		depends on MPU9250
		default n
