menuconfig SENSOR
	bool "Sensor Driver"
	default n
	help
		Sensor Driver
menuconfig ACCEL
	bool "Accelerator Subssystem"
	depends on SENSOR
	default n
	help
		Activate Accelerator Subssystem
	config ACCEL_THREAD_SAVE
		bool "Accelerator is Thread Save"
		depends on ACCEL
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		default n
		help
			Make Accelerator Thread save
	config ACCEL_MULTI
		bool "Multiply Accelerators"
		depends on ACCEL
		default n
		help
			Multiply Accelerators
menuconfig GYRO
	bool "Gyro Subssystem"
	depends on SENSOR
	default n
	help
		Activate Gyroscope Subssystem
	config GYRO_THREAD_SAVE
		bool "Gyro is Thread Save"
		depends on GYRO
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		default n
		help
			Make Gyroscope Thread save
	config GYRO_MULTI
		bool "Multiply Gyros"
		depends on GYRO
		default n
		help
			Multiply Gyros

menuconfig TEMP
	bool "Temperature Sensor Subssystem"
	depends on SENSOR
	default n
	help
		Activate Temperature Subssystem
	config TEMP_THREAD_SAVE
		bool "Temperature Sensor is Thread Save"
		depends on TEMP
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		default n
		help
			Make Temperature Sensor Thread save
	config TEMP_MULTI
		bool "Multiply Temperature Sensor"
		depends on TEMP
		default n
		help
			Multiply Temperature Sensor
	config TEMP_NTC
		bool "NTC Temperature Sensor Driver"
		depends on TEMP
		depends on ADC
		default n
		help
			NTC Temperature Sensor Driver need ADC

config INVIMU
	bool "Invensense IMU"
	depends on SENSOR
	depends on MACH_HAS_SPI
	select USE_MUTEXES
	select USE_RECURSIVE_MUTEXES
	select ACCEL
	select GYRO
	select SPI
	default n
	help
		MPU-9250 Driver
if INVIMU = y
	choice
		prompt "Select Device"
		config MPU9250
			bool "MPU-9250"
		config ICM20948
			bool "ICM-20948"
	endchoice

	config MPU9250_DEBUG
		bool "MPU Debug"
		default n
endif
