menuconfig MAILBOX
	bool "Mailbox Subsystem"
	depends on MACH_HAS_MAILBOX
	help
		Activate Mailbox Subsystem
	config MAILBOX_MULTI
		bool "Multiply Example driver"
		depends on MAILBOX
		help
			Multiply Mailbox driver
	config MAILBOX_THREAD_SAFE
		bool "Mailbox is thread safe"
		depends on MAILBOX
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		default n
		help
			Make Mailbox thread safe
