menuconfig SPI
	bool "SPI Subsystem"
	depends on MACH_HAS_SPI
	help
		Activate SPI Subsystem
	config SPI_THREAD_SAFE
		bool "SPI is thread safe"
		depends on SPI
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		help
			Make SPI thread safe
	config SPI_MULTI
		bool "Multiply SPIs"
		depends on SPI
		help
			Multiply SPIs
