menuconfig NET
	bool "Net Subsystem"
	depends on MACH_HAS_NET
	help
		Net Subsystem
	config NET_MULTI
		bool "Multiply Net driver"
		depends on NET
		help
			Multiply Net driver
	config NET_THREAD_SAFE
		bool "Net is thread safe"
		depends on NET
		select USE_MUTEXES
		select USE_RECURSIVE_MUTEXES
		default n
		help
			Make Net thread safe
	config NET_DUMMY
		bool "Net Dummy Driver"
		depends on NET
		default n
		help
			Net Dummy Driver
	config NET_VLAN
		bool "Net VLAN Driver"
		depends on NET
		default n
		help
			Net VLAN Driver
		config VLAN_MAX
			int "MAX VLANs"
			depends on NET_VLAN
			default 2
			help
				Max VLAN pre Instance
	config NET_PTP
		bool "PTP Net Driver"
		depends on NET
		default n
		help
			PTP Net Driver
if NET=y
	config MAC
		bool "Mac Subsystem"
		depends on MACH_HAS_MAC
		help
			Mac Subsystem
	source driver/net/phy/Kconfig
	source driver/net/lwip/Kconfig
endif
